body {
margin: 0;
padding: 0;

}

.headerContainer{
  display: flex;
}

hr{
  background-color: black;
  height: 3px;
  margin: 0;
}

h1{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-left: 15px;
}

.rectangle{
  background-color: #D9D9D9;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}

.rectangle2{
  background-color: #D9D9D9;
  width: 16px;
  height: 16px;
  margin-left: 6rem;
}

.rectangle3{
  background-color: #D9D9D9;
  width: 16px;
  height: 16px;
  margin-left: 3rem;
}


.menu{
  z-index: 2;
  border: 0;
  background-color: transparent;
  position: relative;
  left: 10rem;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.menu:a{
  transform: rotateX(160'angle');
}

.menu.active{
  background-color: white;
}

.active{
  display: none;
}

nav{
  width: 70%;
  min-height: 100vh;
  background-color: #fff;
  right: 0;
  position: absolute;
  z-index: 1;
}

.exit{
  right: 0;
  position: relative;
}

a{
  font-size: 58px;
  display: flex;
  color: #000;
  text-transform: uppercase;
  justify-content: center;
  padding: 37px;
  top: 136px;
  position: relative;
  height: 77px;
  width: 147px;
}

.container1{
  width: 284px;
  margin-left: 19px;
  margin-right: 11rem;
  font-size: 33px;
  line-height: 39.6px;
  margin-top: 0;
  margin-bottom: 0;
}

.empText{
  background-color: yellow;
}

.imgTablet {
  display: none;
}

.imgDesktop {
  display: none;
}

.container2{
  width: 292px;
  margin-left: 100px;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 350;
  margin-bottom: 0;
  margin-top: 0;
}

.buttonDesktop {
  display: none;
}

.textImg{
  display: flex;
}

.container3{
  height:155px;
  width: 292px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 19.2px;
  margin-right: 6rem;
  font-weight: 350;
  margin-bottom: 0;
  margin-top: 0;
}

.imgMobile{
  position: relative;
  top: 70px;
  background-color: white;
  margin-top: 1rem;
}

.container4{
  height: 104px;
  width: 292px;
  margin-left: 120px;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 350;
  margin-top: 0;
}

footer{
  display: none;
}


@media screen and (min-width:820px) {

  
.menu{
  display: none;
}

.container1{
  width: 285px;
  height: 430px;    
  margin-left: 122px;
  font-size: 59px;
  line-height: 57.6px;
}


.imgTablet{
  display: block;
  right: 5rem;
  top: 3px;
  position: relative;
}


.container2{
  width: 288px;
  height: 135px;
  margin-left: 427px;
}

.container3{
  width: 288px;
  height: 155px;
  margin-left: 119px;
}

.imgMobile{
  display: none;
}

.container4{
  width: 287px;
  height: 104px;
  margin-left: 324px;
}



}



@media screen and (min-width: 1512px) {

  hr{
    z-index: 1;
  }
  .container1{
    width: 418px;
    height: 430px;
    margin-left: 145px;
    font-size: 48px;
    line-height: 57.6px;
  }

  .imgTablet {
    display: none;
  }

  .imgDesktop {
    display: block;
    position: relative;
    left: 16vw;
    top: -137px;
  }

  .rowDesktop{
    display: flex;
  }
  
  .container2{
    width: 353px;
    height: 135px;
    margin-left: 141px;
    margin-top: 0;
  }

  .buttonDesktop {
    display: block;
    top: 2vh;
    position: relative;
    height: 54px;
    width: 183px;
    right: 99px;
    background-color: #000;
    left: 313px;
  }

  h3{
    font-size: 40px;
    text-transform: uppercase;
    color: #FFF500;
    width: 92px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    margin-left: 30px;
  }

  .container3{
    width: 356px;
    height: 155px;
    margin-top: 0;
    margin-left: 10rem;
  }

  .container4{
    width: 229px;
    height: 163px;
    margin-left: 5rem;
    margin-top: 0;
  }

  .purple{
    color: rgb(241, 10, 241);
    font-weight: bold;
  }

  footer{
    display: block;
    position: relative;
    top: 10vh;
    background-color: black;
    height: 144px;
  }

  h5{
    color: #FFF500;
    left: 117px;
    top: 2.3rem;
    position: relative;
    line-height: 19.2px;
    font-size: 16px;
    text-transform: uppercase;
  }

  input{
    position: relative;
    left: 7rem;
    border-radius: 20px;
    width: 200px;
    height: 20px;
    top: 1rem;
  }

  .sign{
    background-color: #B30044;
    width: 85px;
    height: 28px;
    color: #FFF500;
    left: 8rem;
    position: relative;
    border-radius: 15px;
    font-weight: 700;
    top: 1rem;
    text-transform: uppercase;
  }

  .sign:hover{
    color: white;
    background-color: green;
  }

}